.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

h2, h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea {
  height: 100px;
}

.helper-text {
  font-size: 0.8em;
  color: #ccc;
}

button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}

button:hover {
  background: white;
  color: black;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink,blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(4px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.results {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.state {
  text-align: center;
  font-size: 1.2rem;
}